[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
[submodule "public"]
	path = public
	url = https://github.com/SSAFY-Seoul-CS-Study/SSAFY-Seoul-CS-Study.github.io.git
	branch = main
